<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="TextBox7.AllowDrop" value="True" />
		<add key="DataGridTextBoxColumn1.Format" value="" />
		<add key="DataGridTextBoxColumn1.HeaderText" value="" />
		<add key="DataGridTextBoxColumn1.MappingName" value="Pressure" />
		<add key="DataGridTextBoxColumn1.NullText" value="(null)" />
		<add key="DataGridTextBoxColumn1.ReadOnly" value="False" />
		<add key="DataGridTextBoxColumn1.Width" value="75" />
		<add key="DataGridTextBoxColumn2.Format" value="F" />
		<add key="DataTable1.TableName" value="DataTable1" />
		<add key="DataGridTableStyle1.MappingName" value="TempTable" />
	</appSettings>
</configuration>