<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="ToolBarButtonNoEdit.Visible" value="True" />
		<add key="ToolBarButtonNoEdit.Enabled" value="True" />
		<add key="ToolBarButtonEdit.Enabled" value="True" />
		<add key="ToolBarButtonEdit.Visible" value="True" />
		<add key="ToolBarEdit.Enabled" value="False" />
		<add key="ToolBarEdit.Visible" value="False" />
		<add key="ToolBarYesNo.Enabled" value="False" />
		<add key="ToolBarYesNo.Visible" value="True" />
		<add key="ToolBarButtonYes.Enabled" value="True" />
		<add key="ToolBarButtonYes.Visible" value="True" />
		<add key="ToolBarButtonNo.Enabled" value="True" />
		<add key="ToolBarButtonNo.Visible" value="True" />
		<add key="TTBSeparator.Enabled" value="True" />
		<add key="TTBSeparator.ImageIndex" value="-1" />
		<add key="TTBSeparator.PartialPush" value="False" />
		<add key="TTBSeparator.Pushed" value="False" />
		<add key="TTBSeparator.Text" value="" />
		<add key="TTBSeparator.ToolTipText" value="" />
		<add key="TTBSeparator.Visible" value="True" />
		<add key="TBBStart.ImageIndex" value="0" />
		<add key="RadioButton_P1.Checked" value="False" />
	</appSettings>
</configuration>